<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>
<script type="text/javascript">
  WebFont.load({
    custom: {
        families: ['Nanum Gothic'],
        // urls: ['http://fonts.googleapis.com/earlyaccess/nanumpenscript.css']
        urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
    }
   
  });
</script>
<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
    
      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>

</body>
</html>
